node_modules
.expo
dist
*.log
.git
artifacts/attendee-app/android
artifacts/attendee-app/ios
attached_assets
artifacts/admin-web/node_modules
artifacts/admin-web/dist
artifacts/api-server/node_modules
artifacts/attendee-api/node_modules
artifacts/mobile/node_modules
artifacts/mockup-sandbox/node_modules
lib/db/node_modules
