.git
.local
attached_assets
artifacts/admin-web/node_modules
artifacts/admin-web/dist
artifacts/api-server/node_modules
artifacts/attendee-api/node_modules
artifacts/mobile/node_modules
artifacts/mockup-sandbox/node_modules
artifacts/mockup-sandbox/src
lib/db/node_modules
lib/api-spec/node_modules
lib/api-zod/node_modules
lib/api-client-react/node_modules
scripts/node_modules
*.log
.expo
